stable_baselines3
alpaca-trade-api==3.2.0
appdirs==1.4.4
atomicwrites==1.4.0
deprecation==2.1.0
exchange_calendars==4.9
Farama-Notifications==0.0.4
fastapi==0.115.7
FinRL==0.3.7
Flask-SQLAlchemy==3.1.1
flet==0.26.0
flet-cli==0.26.0
flet-desktop==0.26.0
flet-web==0.26.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
grpcio==1.70.0
grpcio-status==1.70.0
gymnasium==1.0.0
httplib2==0.22.0
httptools==0.6.4
jsonpointer==2.1
korean-lunar-calendar==0.3.1
matplotlib==3.9.2
multitasking==0.0.11
oauthlib==3.2.2
peewee==3.17.9
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pyluach==2.2.0
pypng==0.20220715.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
qrcode==7.4.2
repath==0.9.0
rsa==4.9
schedule==1.2.2
setuptools==76.0.0
stable_baselines3==2.5.0
starlette==0.45.3
stockstats==0.6.4
sympy==1.13.1
torch==2.6.0
uritemplate==4.1.1
urllib3==1.26.20
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==10.4
wheel==0.45.1
wrds==3.3.0
yfinance==0.2.54
numpy 
